.EiGoHeader {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background-color: hsl(44, 100%, 77%);
}

.EiGoHeader button {
  margin: 5px;
}

.headerFlex {
  display: flex;
  align-items: center;
}
