.GameOverContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 350px;
}

.GameOverButton {
  margin: 10px;
}

.theContent {
  height: fit-content;
  width: 350px;
}