.authForm {
  height: 200px;
  width: 250px;
  background-color: steelblue;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authForm label {
  margin: 5px;
}

.authForm button {
  margin: 5px;
  width: fit-content;
}